/* Used for centralize the text on courses section */
.carousel-caption {
  top: 35%;
}

/* image opacity */
.carousel-item {
  background-color: black;
  border-radius: 10px;
}
.carousel-item img {
  opacity: 0.5;
}

/* //////Colors////// */
.bg-skybule {
  background-color: #f4fafd;
}

.fa-star {
  color: #f8ae17;
}

@media screen and (max-width: 576px) {
  /* Used only for fixed font-size on carousel from header section */
  .carousel-caption {
    top: 5%;
  }

  .carousel-caption h5 {
    font-size: 24px;
  }

  .carousel-caption p {
    font-size: 10px;
  }

  .font-mobile {
    font-size: 20px;
  }

  /* Used only for fixed mobile-height of images for courses section */
  .image-mobile {
    min-width: 100%;
    height: 245px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Used only for fixed tab-height of image for E-learning section */
  .adjust {
    height: 378px;
  }
}
